* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: blue;
    background-color: black;
}

p {
    color: blue;
    font-size: 20px;
}

button {
    background: green;
    border-color: darkgreen;
}

.texto,
.botao,
p,
#segundo-botao {
    color: red;
}

h2 {
    color: yellowgreen;

}

h2 {
    color: blueviolet;
}

h3 {
    background: rgb(255, -0, -0);
}

h4 {

    background: #ff0000;

}

/* rgb:

red

green 

blue 

hexadecimal

decimal = 0,1,2,3,4,5,6,7,8,9
10,11

hexadecimal = 0,1,2,3,4,5,6,7,8,9
A,B,C,D,E,F
10,11,12...19,1A,1B,1C



*/