* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Roboto", sans-serif;
    color: red;
    font-size: 64px;
    font-weight: 100;
    font-style: italic;
    text-align: right;
}

h2 {
    font-family: "Roboto", sans-serif;
    color: rgb(224, 240, 10);
    font-size: 64px;
    font-weight: bold;
    text-align: justify;
    text-shadow: 10px 10px 10px #ff0000;
}

h3 {
    font-family: "Roboto", sans-serif;
    color: rgb(3, 31, 90);
    font-size: 64px;
    font-weight: bolder;
    text-transform: uppercase;
}

h4 {
    font-family: "Roboto", sans-serif;
    color: rgb(145, 23, 145);
    font-size: 64px;
    font-weight: lighter;
    text-transform: lowercase;
    text-decoration: overline;
}

p {
    font-family: "Roboto", sans-serif;
    color: blue;
    font-size: 30px;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 10px;
    word-spacing: 40px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}