* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 50px;
    height: 50px;
    background: #0458d4;
    padding: 60px;
}

.box-2 {
    width: 50px;
    height: 50px;
    background: #ff1493;
    margin: 20px;

}

.box-3 {
    width: 50px;
    height: 50px;
    background: #9932cc;
    margin: 50px;
}

.box-4 {
    width: 50px;
    height: 50px;
    background: #fceb03;
    margin: 50px;
    padding: 60px;
}

.box-5 {
    color: white;
    width: 50px;
    height: 50px;
    background: #0d3d03;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.box-6 {
    color: white;
    width: 50px;
    height: 50px;
    background: #3d0303;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 60px;
    padding-left: 5px;
}


.box-7 {
    color: white;
    width: 50px;
    height: 50px;
    background: #e70404;
    margin: 10px 50px 30px 5px;

}

.box-8 {
    color: white;
    width: 50px;
    height: 50px;
    background: #04e7dc;
    padding: 10px 50px 60px 5px;
}

.box-9 {
    color: white;
    width: 50px;
    height: 50px;
    background: #e77204;
    margin: 10px 50px 30px;
}

.box-10 {
    color: white;
    width: 50px;
    height: 50px;
    background: #471137;
    padding: 10px 100px 60px;
}

.box-11 {
    color: white;
    width: 50px;
    height: 50px;
    background: #accf8c;
    margin: 10px 100px;
}

.box-12 {
    color: white;
    width: 50px;
    height: 50px;
    background: #df2ba9;
    padding: 100px 100px;
}